<footer class="govuk-footer app-footer" role="contentinfo">
  <div class="govuk-width-container app-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <div class="govuk-footer__meta-custom">
          <p>Contact the HMPPS Service Desk on <b>0203 788 4636</b> for support</p>
          <p>The report should mention <b>Offloc</b> and can be directed to the <b>HMPPS-APPLICATIONSUPPORT</b> queue
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
