{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1>Download NOMIS Report</h1>
    </div>
  </div>

  <div class="govuk-grid-row hmpps-three-quarters-responsive">
    <div class="govuk-grid-column-three-quarters">
      {% if latestFileName %}
        {{ govukButton({
          text: "Download",
          href: "/" + latestFileName,
          isStartButton: true,
          attributes: { "data-qa": "download", "target": "_blank" }
        }) }}
      {% else %}
        <p data-qa="no-files">No files found for download.</p>
      {% endif %}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <a href="/historic-reports" class="govuk-link" data-qa="historic">NOMIS Reports for the last 14 days</a>
    </div>
  </div>

{% endblock %}
