{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1>Download NOMIS Report</h1>
  </div>
</div>

<div class="govuk-grid-row hmpps-three-quarters-responsive">
  <div class="govuk-grid-column-three-quarters">
    {% if latestFileName %}
      <a class="button button-start" target="_blank" href="{{ latestFileName }}" role="button">Download</a>
    {% else %}
      No files found for download.
    {% endif %}
  </div>
</div>

{% endblock %}
